.header {
  display: flex;
  margin-top: 2.8rem;
}

.header button {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  background: var(--white);
  border: none;
}

.header button img {
  margin-right: 1.1rem;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  color: var(--gray-600);
  border: 1px solid var(--gray-300);
  border-radius: 39%;
}

.buttonStarred {
  display: flex;
  margin-left: 4.19rem;
}

input {
  margin-top: 5.9rem;
  margin-bottom: 2.5rem;
  width: 28.25rem;
  border: none;
  border-bottom: 1px solid var(--gray-500);
}

.handleSelectStarred {
  display: flex;
  flex-direction: column;
}

.handleSelectRepositories {
  display: flex;
  flex-direction: column;
}

.handleSelectRepositories span {
  width: 11rem;
  height: 0.1rem;
  margin-left: auto;
  margin-top: 0.5rem;
  border: 1px solid var(--orange-500);
}

.handleSelectStarred span {
  width: 9.5rem;
  height: 0.1rem;
  margin-left: auto;
  margin-top: 0.5rem;
  border: 1px solid var(--orange-500);
}
