.containerRepositories {
  display: flex;
  flex-direction: column;
}

.containerRepositories span {
  margin-top: 0.5rem;
  color: var(--gray-600);
}

.content {
  display: flex;
  align-items: center;
}

.content p {
  display: flex;
  font-size: 1.2rem;
  color: var(--gray-900);
}

.content span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: var(--gray-900);
}

.containerRamos {
  display: flex;
  margin-top: 0.75rem;
}

.containerRamos span {
  margin-top: 1.1rem;
}

.containerRamos p {
  color: var(--gray-900);
}

.ramosQuantity {
  display: flex;
  margin-left: 2rem;
}

.ramosQuantity p {
  margin-left: 0.25rem;
}
