.containerAvatar {
  margin-top: 2.5rem;
  margin-left: 17.25rem;
  margin-right: 8rem;
}
.avatarTitleSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerAvatar img {
  padding: 9.75;
  border-radius: 50%;
}

.circleIconAvatar {
  margin-top: -2rem;
  margin-left: 6rem;
  padding: 1.25rem;
  border-radius: 50%;
  color: var(--whrite);

  box-shadow: 0px 0px 16px rgba(79, 79, 80, 0.15);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

main {
  margin-top: 1.5rem;
}

main .nameTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--gray-800);
}

main h4 {
  color: var(--gray-600);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

footer div {
  padding-bottom: 1rem;
}

footer img {
  max-width: 0.88rem;
  max-height: 0.88rem;
  margin-right: 0.5rem;
}

footer div span {
  font-size: 0.88rem;
  color: var(--blue-600);
}

footer div span a {
  text-decoration: none;
  color: var(--blue-600);
}
