main {
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
